$primary-color: #1A3B39;
$secondary-color: #059479;
$card-color: #123536;
$accent-color: #E74510;
$gradient-secondary-color: #F7A71E;
$card-text-color: #CAE5DB;
$light-color: #ffffff;
$text-color: #333333;
$font-primary: 'Inter', sans-serif;

// Gradients
$gradient-bg: linear-gradient(180deg, rgba(26, 59, 57, 1) 0%, rgba(26, 59, 57, 0.6) 100%);
$gradient-bg-secondary: linear-gradient(180deg, rgba(26, 59, 57, 0.1) 0%, rgba(67, 143, 133, 1) 100%);
$gradient-bg-secondary-benefits: linear-gradient(180deg, rgba(67, 143, 133, 1) 0%, rgba(138, 211, 201, 1) 100%);
$gradient-footer: linear-gradient(0deg, rgba(255, 198, 92, 0.3) 0%, rgba(26, 59, 57, 1) 100%);