.polaroid {
    position: absolute;
    width: 92px;
    filter: drop-shadow(24px 30px 20.6px rgba(0, 0, 0, 0.25));
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    &:nth-child(1) {
        top: 10%;
        left: 6%;
    }

    &:nth-child(2) {
        top: 10%;
        right: 6%;
    }

    &:nth-child(3) {
        bottom: 15%;
        left: 15%;
    }

    &:nth-child(4) {
        bottom: 15%;
        right: 15%;
    }
}